<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNKNA9zrfQbrBa4auOE6q4OPcZy-e0iYU</string>
	<key>GCM_SENDER_ID</key>
	<string>422927221797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apnavaidyatest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>apna-vaidya</string>
	<key>STORAGE_BUCKET</key>
	<string>apna-vaidya.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422927221797:ios:fdbe0dfbeef52e23e9abcc</string>
</dict>
</plist>